<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <div id="nav" style="display: flex; justify-content: space-between;">
      <img src="./#" id="nav hamburger-menu-icon">
      <span id="nav logo">maplehands</span>
      <img src="./#" id="nav alert-menu-icon">
    </div>
    <div id="nav-world-choice">
      <span id="world-choice modalTrigger"><img src="./#" id="default-img">월드 전체 선택</span>
        <ul id="world-choicebox">
          <li><img src="./#" id="world-img">world</li>
        </ul>
    </div>
  </header>

  
  <section>
    <div class="character-card">

      <ul>
        <li>a</li>
        <li>a</li>
        <li>a</li>
      </ul>
    </div>
  </section>
</body>

</html>